* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 14px;
    font-weight: normal;
}

window#waybar {
    background-color: #111827; /* azul muy oscuro */
    color: #cdd6f4;            /* color estándar claro para todo */
    border-bottom: 1px solid #1e293b;
}

#window {
    margin: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

button {
    border: none;
    border-radius: 3px;
    padding: 0 6px;
    background: transparent;
    color: inherit;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: rgba(255, 255, 255, 0.1);
}

#pulseaudio,
#clock,
#battery,
#network,
#tray {
    margin: 2px 4px;
    padding: 2px 4px;
    color: inherit;
}

